{% extends "../base.html" %}
{% load static %}

{% block title %}Factores de Calificación{% endblock title %}

{% block content %}
<div class="container mt-4 text-white">
    <h3 class="font-title mb-4">Factores de Calificación Tributaria</h3>

    <table class="table table-hover">
        <thead class="table-primary">
            <tr>
                <th>ID</th>
                <th>Nombre del Factor</th>
                <th>Categoría</th>
                <th>Descripción</th>
            </tr>
        </thead>
        <tbody>
        {% for f in factores %}
            <tr>
                <td>{{ f.factor_id }}</td>
                <td>{{ f.nombre_factor }}</td>
                <td>{{ f.categoria.nombre|default:"Sin Categoría" }}</td>
                <td>{{ f.descripcion|default:"Sin descripción disponible." }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">No hay factores registrados en el sistema.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="col-md-12 d-flex justify-content-end gap-2 mt-3">
        <a href="{% url 'intranet' %}" class="btn btn-secondary btn-sm">VOLVER</a>
    </div>
</div>
{% endblock content %}
